@using OldWebforms.Lib
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    @Html.StylesheetIncludes()
    @Html.JavascriptIncludes()
</head>

<body>
    @RenderBody()
</body>
</html>
