@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using(Html.BeginForm("Save","Home"))
{
  <div>
    @Html.EditorForModel()

<input type="submit" value="Submit"/>
</div>  
}

<h2>
@Html.RouteLink("Test about route","AboutUrl")
</h2>